################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VOWatcher-BusinessApp/FileContentIndex/03793cf0-8487-4f8c-be7b-6483ebb3b4b0.vsidx
/.vs/VOWatcher-BusinessApp/FileContentIndex
