################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# /.vs/VOWatcher-BusinessApp/FileContentIndex/03793cf0-8487-4f8c-be7b-6483ebb3b4b0.vsidx
# /.vs/VOWatcher-BusinessApp/FileContentIndex
# Ignore Debug folders everywhere
**/Debug/

# Specifically ignore Debug under VOWatcherWFPApp/obj
VOWatcherWFPApp/obj/Debug/
# Ignore Visual Studio folder
.vs/

# Ignore build output folders
bin/
obj/
**/bin/
**/obj/

# Ignore Debug and Release folders
**/Debug/
**/Release/

# Ignore user-specific files
*.user
*.suo

# Ignore temporary files
*.tmp
*.log
*.vspscc
*.vssscc




/.vs/VOWatcher-BusinessApp/FileContentIndex/84b30889-2554-4472-ae68-cf79ef7f17df.vsidx
